@import "./partials/universals";
@import "./partials/navbar";
@import "./partials/footer";

    section {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(42, 44, 51, 1)), url(../media/Uyuni-Salt-Flat-Bolivia.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 85px;

        & .section_card {
            position: relative;
            display: flex;
            flex-flow: row wrap;
            border-radius: 10px;
            width: 85%;
            height: auto;
            padding: 5px;
            padding-left: 15px;
            padding-right: 15px;
            margin: 10%;
            -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
            background: rgba(255, 255, 255, 0.5);

            & h2 {
                text-align: center;
                font-family: $prompt;
                font-size: 30px;
                display: block;
                width: 100%;
            }

            & .bio-text {
                width: 100%;
            }

            & p {
                font-family: $prompt;
                font-size: 20px;
                
                
            }

            & a {
                font-family: $prompt;
                font-size: 1.5em;
                text-decoration: none;
                color: black;
                display: inline-block;
                width: 100%;
                text-align: center;
                transition: background-color 1s;
                border-radius: 10px;
                
                
            }
        
            & a:hover {
                background-color: $link-hover-color;
            }
        }
    }

@media only screen and (min-width: 800px) {

    .section_card {
        max-width: 60%;
    }

}







