* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}
body {
    height: 100vh;
}

$prompt: 'Prompt', sans-serif;

.navbar {
    display: flex;
    border: 1px solid black;
    box-shadow: 0px 3px 6px 0 black;
    padding: 3px;
    background-color: rgb(253, 245, 228); 
    height: 10%;
    flex-flow: row nowrap;
    
    a {
        margin-top: 4px;
        margin-left: 4px;
        text-align: left;
    }
}

#home-icon {
    margin-top: 5px;
    width: 10%;
    color: blue;
    position: relative;
    top: 2;
    left: 2;
}

.navitems {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;

    a {
        margin: 4px 10px;
        text-decoration: none;
        text-align: center;
        width: 15%;
        font-size: 20px;
        font-family: $prompt;

    }
}


li {
    
}

.parallax-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 8px;
    perspective-origin: 0%;
    // display: flex;
    // flex-direction: column;
    // -webkit-overflow-scrolling: touch;
}

.background_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(0px);
}

.landing_scene {
    height: 70%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    transform-origin: 0;
    transform: translateZ(3px) scale(0.625);
    position: relative;
}

.profile_card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        border-radius: 10px;
        width: 75%;
        height: 70%;
        padding: 5px;
        margin: 15%;
        top: 11%;
        background: rgba(221, 221, 221, 0.6);
	    -webkit-backdrop-filter: blur(10px);
	    backdrop-filter: blur(10px);
        
        
        
    .profile_picture {
        width: 75%;
        height: auto;
        margin-bottom: 20%;
        border-radius: 50%;
    }

    .greeting_card {
        text-align: center;
        font-family: $prompt;
        

    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    transform-origin: 0;
    transform: translateZ(3px) scale(0.625);
    position: relative;
    bottom: 30%;

}

.content_card {
    border-radius: 10px;
    width: 75%;
    height: 90%;
    background: rgba(221, 221, 221, 0.6);
	-webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);


}

@media only screen and (min-width: 376px) {
    
}

@media only screen and (min-width: 800px) {

}






